<div class="log-in">
  <div class="log-in__container">
    <div class="top-title">
      <h1 class="log-in__title">Log in</h1>
      <p class="log-in__description">Inicie sesión con su cuenta</p>

    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="log-in__form">

      @if(isLoading()){
        <app-spinner></app-spinner>
      }

      @let is_error_email = loginForm.get('email')?.touched && loginForm.get('email')?.invalid;
      <ion-input
        formControlName="email"
        type="email"
        placeholder="Email"
        class="log-in__input">
      </ion-input>
      <div  class="errorPass">
      @if(is_error_email){
        <ion-text color="danger">
          <ul>
            @if(loginForm.get('email')?.errors?.['required']){
            <li class="txt-error">
                  <ion-icon name="close-outline"></ion-icon> 
                  El email es obligatorio.
            </li>
            }            
            @if(loginForm.get('email')?.errors?.['pattern']){
              <li class="txt-error">                
                  <ion-icon name="close-outline"></ion-icon> 
                  Debe ser un correo arroba unas.edu.pe.
              </li>
             }
          </ul>
        </ion-text>
      }
    </div> 



      @let is_error_message0 = loginForm.get('password')?.errors?.['passwordStrength'];
      <ion-input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="log-in__input"
        (ionInput)="onChangeWord($event.target.value)">
      </ion-input>

       
       <div class="errorPass">
        @if(is_error_message0){
          <ion-text color="danger">
            <ul>
              @for (item of messageCAT; track $index) {
                @if(!item.estado){
                  <li class="ion-padding-start txt-error">
                    <ion-icon name="close-outline"></ion-icon>  {{ item.message }}
                  </li>
                }
              } 
            </ul>
          </ion-text>
         }
       </div>
     
      <!-- <label class="custom-checkbox">
        <input type="checkbox" formControlName="rememberMe">
        <span class="checkmark"></span>
        Recordarme
      </label> -->

      <button type="submit" [disabled]="loginForm.invalid" class="log-in__button">
        Log In
      </button>

      <p class="contact">(*) En caso no tenga cuenta por favor contactarse con el administrador de la aplicación para que le cree una cuenta.</p>
    </form>
  </div>
</div>
