
.content{
    position: absolute;
    z-index: 9999999999999999999999999;
    top: 0;
    left: 0;
    background: var(--ion-color-lightgray);
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    div.spin{
        margin-top: -10vh;
        // transform: translateY(35vh);
    }
    
}
