
ion-icon.marked{
    border: 1px solid var(--ion-color-primary-contrast);
    border-radius: 50%;
    background: var(--ion-color-warning);
    font-size: 0.9rem !important;
    padding: 1px;
}

ion-icon{
    font-size: 1.2rem;
}