
ion-header.quiz-header{
    background: transparent;
    ion-toolbar{
        --background: transparent;
    // --background: #1D2E44;
        padding: 1.6vh 1vh;
    }

    .pointRecuerdo{
        background: red;
        padding: 0.28rem 0.4rem;
        font-size: 0.64em;
        font-weight: 700;
        border-radius: 50%;
        position: absolute;
        margin-top: -0.7rem;
        margin-right: -1.4rem;
        z-index: 2;
    }
}

ion-content.quiz-content{
    --background: var(--ion-background-gradient);


    .promotion{
        img{
            border-radius: 15px;
            height: 80px;
            width: 100%;
            object-fit: cover;
        }
    }

    ion-item.timer{
        border-radius: 20px 20px 0 0;

        div{
            padding: 2.5vh 0;
        }
    }

    div.swiperDiv{
        height: 85vh;
        width: 100%;
        margin: auto;
        swiper-slide{
            height: 80vh;
        }
    }

    ion-item.remaining{
        --background: transparent;
        --color: var(--ion-color-text-primary);
        margin-top: 0.4rem;
        margin-right: 2.4rem;
    }

    ion-item.add-question-in-cache{
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: -0.4rem;
        margin-right: -2rem;
    }

    ion-list{
        border-radius: 0 0 20px 20px;
        height: 90%;

        ion-item-group{
            height: 85%;
            overflow-y: auto;
        }

        ion-row{
            position: absolute;
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            padding: 0.5rem 0;
            margin: auto;
            display:flex;
            justify-content: center;
            align-items: center;

            ion-button{
                --background: var(--ion-background-gradient);
                margin-inline-start: 5px;
                margin-inline-end: 5px;

                ion-text{
                    font-size: 1rem;
                }
            }

        }
    }

}

.spin{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-chip{
    padding: 0 0.8rem;
    margin: 2vh 0 ;

    ion-text{
        font-size: 0.8rem;

        .bold{
            font-weight: 500;
        }
    }
}

ion-header.answers{
    background: transparent;
    ion-toolbar{
        --background: var(--ion-color-primary-contrast);

        ion-segment-button{
            --background-checked: var(--ion-color-primary);
            --indicator-color: var(--ion-color-primary);
            --color-checked: var(--ion-color-primary-contrast);
        }
    }
}

.title-short{
    letter-spacing: -1px;
    margin-right: 0.8rem;
}

.eye-chip{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0.64rem;
    margin-top: 0.4rem;
    z-index: 9;

    

    &.add-question-in-exam{
        margin-left: 3.2rem;
    }
}

// los chiups
.cat-chip{
    margin-right: 3.2rem;
    opacity: 0.56;
    
    .icon_cat{
        position: absolute;
    }
}



.answer-chip{
    padding: 1rem 0.4rem;
}

.tag-chip{
    margin: 0.16rem;
    height: 0.8rem;
}

ion-textarea.answer-chip{
    background: #EEEEEE;
    border-radius: 15px;
    font-size: 0.8rem;
    padding-top: 0.24rem; padding-bottom: 0.24rem;
    min-height: 5.6rem;
}

.on-edit{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0.64rem;
    background: #FFFFFF;
    z-index: 9;
}

.fab-icon{
    --background:  var(--ion-color-primary-light);
    color: var(--ion-color-primary);  
      
    ion-fab-button:first-child{
        margin-right: -0.5rem;
        margin-bottom: rem;
        width: 35px;
        height: 35px; 
    }
    ion-fab-list{         
        ion-fab-button:first-child{
            margin-bottom: 2.4rem;
        }
        ion-fab-button{     
            margin-right: 1.6rem;       
            --background:  var(--ion-color-primary-light);
            --border-radius: 50%;
            --box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
            --color: var(--ion-color-primary);

        }

    }
}

/******************************************************/
.modal-cache{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .flash-card{
        margin: 0.8rem;
        padding: 0.64rem;

        ion-textarea{
            margin: 0.8rem 0;
        }

        ion-button{
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0;
            padding: 0;
            z-index: 9;
            
            border: none !important;
            
        }

        p{
            font-size: 0.8rem;
        }
    }
}

.filter-chip{
    margin-left: 0.4rem;
}
.ion-select-filter{
    background: transparent;
    margin-left: 0.2rem;
}

app-spinner{
    position: absolute;
    z-index: 99999;
}

.dark-theme {

    ion-chip{
        background: var(--ion-dark-text-primary);

        &.eye-chip{
            opacity: 0.64;
        }
    }

    &.item-native{
        --background: var(--ion-color-primary);
    }

    ion-list{
        background: var(--ion-dark-color-primary);
    }

    img.question-image{
        //filter invert color 
        filter: invert(1);    
    }

     ion-button{
        opacity: 0.4;
        --color: var(--ion-dark-text-primary);
        border: 2px solid var(--ion-dark-text-primary);
        border-radius: 24px;

        &:hover, &:active, &:focus{
            opacity: 1;
        }
    }

    ion-item{
        --background: var(--ion-dark-color-primary);
        --color: var(--ion-dark-text-primary);
        --border-color: var(--ion-dark-text-primary);
        --box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);

        ion-label{
            --color: #ffffff;
            b{
                opacity: 0.75;
            }
            p{
                color: var(--ion-dark-text-primary);
            }
        }
    }
}