
ion-item{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 2.5vh;

    ion-radio{
        height: 1.5rem;
        width: 1.5rem;
        background: #f4f4f4;
        border: 1px solid var(--ion-color-medium);
        border-radius: 50%;
    }
}

.selected{
    border: 1px solid var(--ion-color-primary) !important;
}

ion-icon{
    font-size: 2rem;
    margin-left: -0.22rem;
}

ion-label{
    margin-left: 0.8rem;
}

.dark-theme{
    ion-item{
        --background: var(--ion-dark-color-primary);
        --color: var(--ion-dark-text-primary);
        border:none;

        &.selected{
            --background: var(--ion-dark-text-primary);
             --color: var(--ion-dark-color-primary);
        }
    }

    ion-radio{
        --background: var(--ion-dark-color-primary);
        border: 1px solid var(--ion-dark-text-primary);
        border-radius: 50%;
        background: var(--ion-dark-color-primary);
    }
}