
ion-content{
    --background: var(--ion-background-gradient);

    ion-select{
        --border-width: 0;
        --padding-start: 0;
        --padding-end: 0;
    }

    ion-header{
        background: transparent;



        ion-toolbar{
            --background: transparent;
            
            ion-title{
                --color: var(--ion-color-text-primary);
                font-size: 1.4rem;
                margin-left: 1rem;
            }
        }
    }

    ion-card{
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 400px;
        margin:auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        ion-item{
            bordewr-radius: 10px;
        }

        ion-button.play{
            margin-top: 2vh;
            float:inline-end;
        }

        .errorMessage{
            font-size: small;
        }

    }

    &.dark-theme{
        ion-card{
            background: var(--ion-dark-color-primary);
        }

        ion-button.play{
            border: 1px solid #ffffff;
            border-radius: 15px;
        }

    }

}
