
/* en global.scss
.toast-modal{
  height: 10rem;
*/
.toast-cat{
    height: 98px;
    width: 80px;
    margin: 0.4rem;
}

.toast-container{
    border-radius: 20px;
    height: auto;
    margin: 15px;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    position: absolute;
    top: 0;
    width: 73%;
    margin-left: 5.5rem;
    margin-top: 1.8rem;
  

    .light{
        color: #fafafa;
    }
    .dark{
        color: #212121;
    }

    ion-icon{
        font-size: 2rem;
        margin: 0 10px;
    }
}
