<!-- menu: Informacio ndel usuario -->
<ion-menu side="start" contentId="main-content">
  <ion-content>
    <div class="menu-perfil">
      <div class="user-image">
        <img src="assets/imgs/avatar.png" alt="User Image" />
      </div>
      <div class="greeting">
        <span> {{ currentUser.usr_infp_id?.infp_firstname }} </span>
        <br>
        <h5> {{ currentUser.usr_r_id?.r_name }} </h5>
      </div>
    </div>
    <ion-list>
      <!-- 
      <ion-item class="ion-no-padding" lines="none">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Mis cursos</ion-label>
      </ion-item> -->
      <ion-item class="ion-no-padding" lines="none"
        (click)="onNaviate('/register')">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Mi perfil</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none" (click)="onNaviate('/favorites')">
        <ion-icon name="clipboard-outline"></ion-icon>
        <ion-label>Mis examenes</ion-label>
      </ion-item>
      <!-- <ion-item class="ion-no-padding" lines="none">
        <ion-icon name="folder-outline"></ion-icon>
        <ion-label>Mis categorias</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Mis temas</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>Mis favoritos</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Mis notificaciones</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Mis ajustes</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <ion-icon name="help-outline"></ion-icon>
        <ion-label>Ayuda</ion-label>
      </ion-item> -->
      <ion-item class="ion-no-padding" lines="none" (click)="logout()">
        <ion-icon name="exit-outline"></ion-icon>
        <ion-label>Exit</ion-label>
      </ion-item>
    </ion-list>
    <div class="greeting">
    </div>

  </ion-content>
</ion-menu>

@if(isLoading()){
        <app-spinner></app-spinner>
}


<ion-content class="ion-padding">
  
  <div class="user-profile">  
      <ion-buttons class="ion-page" id="main-content">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="greeting">
        <h5> Bienvenido </h5>
        <h3> {{ currentUser.usr_infp_id?.infp_firstname }} </h3>
      </div>
      <div class="user-image">
        <img src="assets/imgs/avatar.png" alt="User Image" />
      </div>
  </div> 
  
 
  <ul class="tabs">
    <li><a [ngClass]="{ 'active': selectTab() === 'temas' }" (click)="selectTab.set('temas')"> Temas </a></li>
    <li><a [ngClass]="{ 'active': selectTab() === 'cursos' }" (click)="selectTab.set('cursos')"> Cursos </a></li>
    <!-- <li><a [ngClass]="{ 'active': selectTab() === 'categorias' }" (click)="selectTab.set('categorias')"> Categorias </a></li>
    <li><a [ngClass]="{ 'active': selectTab() === 'examenes' }" (click)="selectTab.set('examenes')"> examenes </a></li> -->
  </ul>

  <div class="tabs-content">


    @if(selectTab() === 'temas'){
      
    <!-- <div class="temas">
      <img src="https://res.cloudinary.com/dmzqftdha/image/upload/v1746832810/cat-banner-min_fo3o9l.jpg" alt="">
    </div> -->
    <br>
    <app-advertising
      [data]="banner"
    ></app-advertising>

      <div class="recomendando">
        
        <div class="flex center justify title">
          <h6> <b>Listado de temas</b> </h6>
          <span> View all </span>
        </div>
        
        <div class="cards-recomendando">
        @if(temas()){ 
         @for(tm of temas(); track i; let i = $index) {
            <ion-card class="card-data card-mini"
              [ngStyle]="{ 'background': '#'+ tm.grouped_data[0].cat_color }">
              <ion-card-content>
                @if (tm.grouped_data[0].cat_badge){
                  <img class="cm-img"
                    [src]="tm.grouped_data[0].cat_badge" alt="">
                }
                <h5> {{ tm.cat_title }} </h5>
              </ion-card-content>
            </ion-card>
          }
        }
        </div>

      </div>

      <div class="recomendando">
        <div class="flex center justify title">
          <h6> <b>Recomendando temas</b> </h6>
          <span> View all </span>
        </div>
  
        <div class="cards-recomendando">
        @if(temas()){ 
         @for(tm of temas()[3].grouped_data; track i; let i = $index) {
            <ion-card class="card-data">
              <ion-card-header>      
                @if(tm.cat_img){
                  <img src="{{ tm.cat_img }}" alt="Fondo">
                }@else {
                  <img src="../../../assets/imgs/loading_img.png" alt="">                  
                }  

              </ion-card-header>
              <ion-card-content>
                <span class="title"> {{ temas()[randomSelectNumber()].cat_title }} </span>
                <ion-card-title> {{ tm.cat_subtitle }} </ion-card-title>
    
                <!-- <p class="description">
                  {{ tm.cat_description | textLimit: 62 : '' }}
                  <a href="" class="plus-description">... ver más.</a>
                </p> -->
                
              </ion-card-content>
            </ion-card>
          }
        }
        </div>
        
      </div>

    }

    @if(selectTab() === 'cursos'){
    
    <ion-searchbar [debounce]="1000" placeholder="Introduce el nombre del curso"></ion-searchbar>

    <div class="temas">
      <img src="../../../assets/imgs/loading_img.png" alt="">
    </div>

      <div class="recomendando">
        <div class="flex center justify title">
          <h6> <b>Recomendando temas</b> </h6>
          <span> View all </span>
        </div>
  
        <div class="cards-recomendando">
          <ion-card class="card-data card-mini">
            <div class="card-overlay">
              <h6>DESARROLLO DE APLICACIONES PARA LA NUBE</h6>
            </div>
            <img src="../../../assets/imgs/loading_img.png" alt="Fondo">
          </ion-card>
  
        </div>
        
      </div>
    }

  </div>
  <br><br>

</ion-content>
